body {
    background-color: rgb(140, 140, 248);
}

.header {
    font-style: oblique;
    color: #0b3b5f;
    text-align: center;
    font-family: 'Shrikhand', cursive;
    font-size: 90px;
}
h2 {
    font-style: oblique;
    color: #0b3b5f;
    font-family: 'K2D', sans-serif;
    font-size: 45px;
}

a {
    font-size: 20px;
    background-color: #0b3b5f;
    margin-left: 15%;
    color:rgb(140, 140, 248) ;
    font-family: 'K2D', sans-serif;
}
.accordion-item{
    background-color: rgb(140, 140, 248);
    border:  1px solid rgb(140, 140, 248);
}
.accordion-body {
    color: #0b3b5f;
    background-color: rgb(140, 140, 248);
}

.accordion-button {
    background-color: #0b3b5f;
    color: rgb(140, 140, 248);
}

nav {
    background-color: #0b3b5f;
}

img {
    width: 200px;
    height: auto;
}

.imageHover:hover {
    height: 600px;
    width: 600px;
}

.containerMitski {
    font-size: 0.1em; /* Corrected property value */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.containerMitski img {
    width: 200px;
    height: auto;
    margin: 10px;
}
div {
    margin: 10px; /* Space outside the div */
    padding: 10px; /* Space inside the div */
  }
.col{
    color: #0b3b5f;
    font-family: 'K2D', sans-serif;
    text-align:left;
}
.carousel-item{
    width: 300px;
    height: auto;
}
.message-button {
    font-style: oblique;
    border: 1px solid #d6dce7;
    text-align: center;
    padding: 10px 20px;
    background-color: #0b3b5f;
    color: rgb(140, 140, 248);
    border: none;
    cursor: pointer;
  }
 /* Style the modal */
   .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  /* Style the modal content */
  .modal-content {
    font-style: oblique;
    color: rgb(140, 140, 248);
    background-color:#0b3b5f;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #d6dce7;
    width: 50%;
    text-align: center;}

#crystalBall {
        width: 50%;
        height:50%;
        position: relative;
        left: 25%; 
      }
      
#crystalBallText {
        position: absolute; 
        top: 50%; /* Adjust the top position as needed */
        left: 50%; /* Adjust the left position as needed */
        transform: translate(-50%, -50%);  
        z-index: 1; /* Set a higher z-index to make the text appear on top of the image */
        color:#0b3b5f;
      }
#crystalBallBtn{
        position: absolute;
        top:75%;
        left:50%;
        z-index: 1;
        font-style: oblique;
     border: 1px solid #d6dce7;
     text-align: center;
     padding: 10px 20px;
     background-color: #0b3b5f;
     color: rgb(140, 140, 248);
     border: none;
     cursor: pointer;
      }
options{
    font-style: oblique;
    border: 1px solid #d6dce7;
    text-align: center;
    padding: 10px 20px;
    background-color: #0b3b5f;
    color: rgb(140, 140, 248);
    border: none;
    cursor: pointer;
}
.options{
    height:200px;
    width:200px;
   
      
  }
  .options:hover{
    transform: scale(1.3);
  }
#magic8BallBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./images/magic8ball.png'); /* Replace with the correct path and filename of your image */
    background-size: contain; /* Adjust the image size to fit within the container */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; /* Center the background image horizontally and vertically */
    z-index: -1; /* Place it behind other content */
}
#rPSWrapper{
    display: flex;
}
#rock {
    background-image: url('./images/rock.png');
    /* Set other styles like width, height, etc. */
}

#paper {
    background-image: url('./images/paper.png');
    /* Set other styles like width, height, etc. */
}

#scissors {
    background-image: url('./images/scissors.png');
    /* Set other styles like width, height, etc. */
}


